# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.verce/

# Databases
*.db
*.sqlite
*.sqlite3

# Local Configuration & Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/config.json
config.json

# User Uploads
backend/uploads/
uploads/

# OS Files
.DS_Store
Thumbs.db
